@charset="UTF-8"
.container{
	min-height: 100%;
}
a:link,a:hover,a:active,a:visited{
	text-decoration: none;
}
.col-xs-12{
	height: 19.5%;
	display: flex;
}
.hero-unit img{
	width: 100%;
}
.copyright{
	bottom: 0px;
	text-align: center;
	font-size: 1.5em;
}